FLASK_APP = "app"
DEBUG = True

SECRET_KEY =

DATABASE_URI =
SQLALCHEMY_TRACK_MODIFICATIONS = False

PROPAGATE_EXCEPTIONS = True

API_TITLE = 'TinyTales REST API'
API_VERSION = 'v1'
OPENAPI_VERSION = '3.1.0'
OPENAPI_URL_PREFIX = '/api'
OPENAPI_SWAGGER_UI_PATH = '/swagger-ui'
OPENAPI_SWAGGER_UI_URL = 'https://cdn.jsdelivr.net/npm/swagger-ui-dist/'