@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.menu a {
  margin-right: 14px;
}

.navMenu {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
}

.logo {
  margin-left: 14px;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
}

.navMenu a:hover {
  color: #fddb3a;
}



