{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="post-create-container">
    <p class="create-post-p">Create Post</p>
    <form class="post-create-form" method="post">
        {{ form.hidden_tag() }}
        {{ form.title(placeholder="Title", class="form-control", id="floatingInput") }}
        {{ form.content(placeholder="Content", class="form-control", id="floatingTextarea2", style="height: 400px") }}
        {{ form.status(class="form-select") }}
        {{ form.submit(class="btn btn-outline-light btn-lg") }}
    </form>
</div>
{% endblock %}